h6 {
	margin: 0 0 -0.3rem 3.3rem;
}

form,
form label,
form button {
	display: flex;
	align-items: center;
}

select,
input {
	border: none;
	border: 3px solid var(--secondary-color);
}

select:hover,
input:hover {
	box-shadow: 0.1rem 0.2rem 0.15rem -0.05rem #00000040 inset;
}

select:focus,
input:focus {
	box-shadow: 0.1rem 0.2rem 0.15rem -0.05rem #00000040 inset;
}

select:focus,
select:hover,
input:focus,
input:hover {
	outline: none !important;
	border: solid 3px var(--text-color);
}

select,
input,
form button,
#modal button {
	height: 1.9rem;
	font-size: calc(10px + 2vmin);
	margin: 0.25rem 0.6rem;
	padding: 0.2rem 0.5rem;
	border-radius: 0.25rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

form button {
	padding: 0.2rem 0.5rem;
}

form#user-identification-form {
	display: block;
}

.ingredient-name {
	width: 15rem;
}

.ingredient-quantity,
.ingredient-volumic-mass {
	width: 5.5rem;
}

p.user-email {
	font-weight: bold;
	margin: 0.25rem 0;
}

form.user-management {
	justify-content: start;
	align-items: flex-start;
}
form.user-management > fieldset {
	display: flex;
	align-items: center;
	width: 7rem;
}
