html {
	background-color: #fefbefff;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	font-size: calc(10px + 2vmin);
}

* {
	margin: 0;
	padding: 0;
	border: 0 none;
	color: #832d1eff;
	cursor: default;
}

h6 {
	font-size: calc(1px + 1vmin);
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
	/* display: inline; */
}

/* li {
	display: inline;
} */

a,
a span {
	padding: 0.5rem;
	margin: 0.2rem;
	border-radius: 12px;
}

a:link,
a:visited {
	color: inherit;
}

a:hover,
a:hover span,
a span:hover {
	background-color: #ab200020;
}

button :hover,
h2 a:hover,
.big-button:hover {
	background-color: #00000000;
}

main {
	margin: 0.5rem 2rem 0;
}

hr {
	border-top: solid 3px #832d1eff;
	height: 0px;
}

#logoOmq {
	height: 40vh;
}
/** **/
.in-line {
	display: inline-flex !important;
}

.hidden {
	display: none !important;
}

.margin-left-1 {
	margin-left: 0.6rem !important;
}

.margin-top-1 {
	margin-top: 0.5rem !important;
}

/** icons validation **/
.validated #icon-warning,
.validated #icon-error,
.warning #icon-validated,
.warning #icon-error,
.error #icon-validated,
.error #icon-warning {
	display: none;
}

#icon-validated {
	filter: hue-rotate(280deg) brightness(180%);
}
#icon-warning {
	filter: hue-rotate(178.5deg) brightness(300%) saturate(2000%);
}
#icon-error {
	filter: hue-rotate(100deg);
}

#icon-validated,
#icon-warning,
#icon-error {
	display: inline-flex;
}

